@page "/Employee/New"
@using global::Employee.ManagementSystem.Shared.Employee.InputModels
@using global::Employee.ManagementSystem.Core.Models
@using AutoMapper

@inject NavigationManager NavManager
@inject IDepartmentService ServiceDeparment
@inject IEmployeeService ServiceEmployee
@inject NotificationService NotificationService

<h3>New</h3>

<div class="row">
    <div class="col">
        <NavLink class="btn btn-primary" href="/employees">
            Cancel
        </NavLink>
    </div>
</div>
<EditForm Model="@CreateEmployeeInputModel" OnValidSubmit="SubmitValidForm">
    <FluentValidationValidator/>
    <div class="form-group">
        <label class="col-form-label">Name:</label>
        <div class="col-md-6">
            <RadzenTextBox 
                @bind-Value="@CreateEmployeeInputModel.Name" 
                Class="w-100" />
            <ValidationMessage For="() => CreateEmployeeInputModel.Name"></ValidationMessage>
        </div>
    </div>
    <div class="form-group">
        <label class="col-form-label">Email:</label>
        <div class="col-md-6">
            <RadzenTextBox 
                @bind-Value="@CreateEmployeeInputModel.Email" 
                Class="w-100" />
            <ValidationMessage For="() => CreateEmployeeInputModel.Email"></ValidationMessage>
        </div>
    </div>
    <div class="form-group">
        <label class="col-form-label">Date of Birth:</label>
        <div class="col-md-6">
            <RadzenDatePicker 
                TValue="DateTime" 
                @bind-Value=@CreateEmployeeInputModel.DateOfBirth
                Min="@MinDate"
                Max="@MaxDate"
                DateFormat="d"
                ShowTime="false"
                Class="w-100"/>
            <ValidationMessage For="() => CreateEmployeeInputModel.DateOfBirth"></ValidationMessage>
        </div>
    </div>
    <div class="form-group">
        <label class="col-form-label">Department:</label>
        <div class="col-md-6">
            <RadzenDropDown 
                AllowClear="true" 
                @bind-Value="@CreateEmployeeInputModel.DepartmentId"
                TValue="int" 
                Class="w-100" 
                Data=@_departments
                TextProperty="Name" 
                ValueProperty="Id"
                 />
            <ValidationMessage For="() => CreateEmployeeInputModel.DepartmentId"></ValidationMessage>
        </div>
    </div>
    <br/>
    <button class="btn btn-success" type="submit">Save</button>
</EditForm>

@code {
    [Inject]
    public IMapper Mapper { get; set; } = null!;

    CreateEmployeeInputModel CreateEmployeeInputModel = new CreateEmployeeInputModel();
    IList<Department> _departments = new List<Department>();
    
    DateTime MinDate = new DateTime(1900,DateTime.Now.Month,01);
    DateTime MaxDate = DateTime.Now.Subtract(new TimeSpan(43800, 0, 0));
    
    protected override async Task OnInitializedAsync()
    {
        _departments = await ServiceDeparment.GetAll();
    }

    async void SubmitValidForm()
    {
        Employee NewEmployee = new Employee();
        Mapper.Map(CreateEmployeeInputModel, NewEmployee);
        var result = await ServiceEmployee.Create(NewEmployee);

        if (result == -1)
        {
            Helper.ShowNotification(
                "Email Error", 
                "This email belong to another employee", 
                NotificationSeverity.Error,
                NotificationService);
        }
        else
        {
            NavManager.NavigateTo("/employees/added");
        }
    }

    
}